In [1]:
import pandas as pd

In [2]:
principals = pd.read_csv("title.principals.tsv", sep="\t")

In [4]:
principals[0:5]

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [5]:
principals[principals["category"]=="composer"].head()

        tconst  ordering     nconst  category job characters
4    tt0000002         2  nm1335271  composer  \N         \N
7    tt0000003         3  nm1335271  composer  \N         \N
10   tt0000004         2  nm1335271  composer  \N         \N
375  tt0000229         3  nm0595213  composer  \N         \N
412  tt0000247         8  nm0744231  composer  \N         \N

In [7]:
principals[principals["category"]=="composer"].to_csv("principals.csv")

In [8]:
principals_composers = principals[principals["category"]=="composer"]

In [11]:
names = pd.read_csv("name.basics.tsv", sep="\t")

In [12]:
names_dict = pd.Series(names.primaryName.values,index=names.nconst).to_dict()

In [13]:
names_dict['nm1335271']

'Gaston Paulin'

In [16]:
principals_composers['Name'] = principals_composers['nconst'].map(names_dict)

<ipython-input-16-422854579f47>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  principals_composers['Name'] = principals_composers['nconst'].map(names_dict)

In [17]:
principals_composers.head()

        tconst  ordering     nconst  category job characters           Name
4    tt0000002         2  nm1335271  composer  \N         \N  Gaston Paulin
7    tt0000003         3  nm1335271  composer  \N         \N  Gaston Paulin
10   tt0000004         2  nm1335271  composer  \N         \N  Gaston Paulin
375  tt0000229         3  nm0595213  composer  \N         \N      Ben Model
412  tt0000247         8  nm0744231  composer  \N         \N    Laura Rossi

In [18]:
principals_composers.to_csv("principals_with_name.csv")

In [19]:
principals_composers[['tconst', 'Name']].to_csv("principals_with_name_filtered.csv")

In [20]:
principals_composers_name = principals_composers[['tconst', 'Name']]
principals_composers_name_dict = pd.Series(principals_composers_name.Name.values,index=principals_composers_name.tconst).to_dict()

In [22]:
principals_composers_name_dict['tt0000417']

'Octavio Vázquez'

In [23]:
principals_composers_name_dict = principals_composers_name.set_index('tconst').T.to_dict('list')

<ipython-input-23-1b169442ab0e>:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  principals_composers_name_dict = principals_composers_name.set_index('tconst').T.to_dict('list')

In [24]:
principals_composers_name_dict['tt0000417']

['Octavio Vázquez']

In [26]:
principals_composers_name_dict = principals_composers_name.groupby(['tconst'])['Name'].apply(list).to_dict()

In [27]:
principals_composers_name_dict['tt0000417']

['Jean-Benoît Dunckel', 'Nicolas Godin', 'Octavio Vázquez']

In [29]:
titles = pd.read_csv("title.basics.tsv", sep="\t")
titles['Composer'] = titles['tconst'].map(principals_composers_name_dict)

In [30]:
titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,Composer
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",NaN
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",[Gaston Paulin]
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",[Gaston Paulin]
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",[Gaston Paulin]
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",NaN

In [31]:
titles.to_csv("title_with_composers.csv")

In [32]:
titles[titles['titleType']=='movie'].to_csv("title_with_composers_movie.csv")